
.accordion {
  margin: 0 auto;
  border-bottom: 10px solid #999999;
  .title {
    padding: 30px 30px;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    color: white;
    position: relative;
    font-size: 20px;
    background: #088c80;
    margin-bottom: -1px;
    border-bottom: 1px solid #000000;
    text-align: left;

    &.is-opened {
      transition: background .5s;
      background: #07635a;
      
    }
  }
  .item-status {
    position:absolute;
    width: 20px;
    height: 20px;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    svg {
      display: block;
      width: 100%;
    }
  }

  .content {
    overflow: hidden;
    max-height: 0;
    height: 0;
    margin: 0;
    padding: 0 30px;
    border: solid 1px #eeeeee;
    border-top: 0;
    background: #888888;
    color: #ffffff;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;

    p {
      padding: 30px 0;
      margin: 0;
      opacity: 0;
      transition: .5s;
    }
    
    &.is-opened {
      min-height: 100px;
      overflow: hidden;
      padding: 30px;
      p {
        opacity: 1;
      }
    }
  }
  
  
}

